@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,500,600';

* {
 font-family: 'Open Sans', sans-serif;
 font-weight: normal;
 text-decoration: none;
 color: #404040;
 margin: 0;
}

h1 {
  font-size: 18px;
  font-weight: bolder;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 10px;
}

h2 {
  font-size: 14px;
  font-weight: bold;
  text-align: center;

  margin-bottom: 8px;
}

h3 {
  font-size: 13px;
  font-weight: bold;

  margin-bottom: 6px;
}

h4 {
  font-size: 12px;
  font-weight: bold;
  font-color: #7F7F7F;

  margin-bottom: 4px;
}

p {
  font-size: 12px;
  font-color: #7F7F7F;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 12px;
  font-color: #7F7F7F;
}

a:hover {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

#app {
  margin: 15px auto;
  min-width: 690px;
  max-width: 800px;

  padding: 10px;
}

.separator {
  width: 80%;
  margin: 9px auto;
  height: 1px;
  background-color: #808080;
}

.contact-information {
  margin-bottom: 0;
}

.contact-information > ul {
  text-align: center;
}

.contact-information > ul > li {
  display: inline-block;
  margin-right: 16px;
}

.contact-information > ul > li:last-child {
  margin-right: 0;
}

.objective {
  margin: 0;
}

.education {
  margin: 0;
}

.education-highlights {
  padding-bottom: 6px;
  display: flex;
  justify-content: center;
}

.education-highlights > li {
  margin: 0 10px;
}

.education > h3 {
  text-align: left;
}

.education-current {
  margin-bottom: 4px;
}

.education-current > p {
  text-align: left;
}

.education-current > ul {
  display: flex;
  justify-content: center;
}

.education-current > ul > li {
  margin: 0 10px;
}

.education-completed > p {
  text-align: left;
}

.education-completed > ul {
  display: flex;
  justify-content: space-between;
}

.technical-experience {
  margin: 0;
}

.technical-experience-item {
  margin-bottom: 10px;
}

.technical-experience:last-child {
  margin-bottom: 0px;
}

.technical-experience-item > ul {
  list-style-type: circle;
  padding-left: 20px;
}

.technical-experience-item > p.description {
  text-align: left;
}

.programming-languages {
  margin: 0;
}

.programming-languages > ul {
  display: flex;
  justify-content: space-between;
}

@media print {
  @page { margin: 0; }
  body { margin: 0.5in; }

  #app {
    margin: auto;
    max-width: none;
    padding: 0;
  }
}